__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

.venv/

.mypy_cache/
.ruff_cache/
.pytest_cache/

.idea/
.vscode/

output/
input/

# TeX auxiliary files
_minted-*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.run.xml
*.synctex.gz
*.fmt
*.fot
*.cb
*.cb2
.*.lb
